
/* Main Content */

/* Profile container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.profile-header .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  font-size: 16px;
}

.profile-info p {
  margin: 5px 0;
}

.profile-info strong {
  font-weight: bold;
}

/* Địa chỉ */
.address-container p {
  margin-left: 20px;
}

/* Button cập nhật */
.update-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #45a049;
  transition: 0.3s;
}
