.student-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-details {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-details h2 {
  margin-bottom: 10px;
  color: #343a40;
}

.profile-details p {
  margin: 5px 0;
  color: #6c757d;
}

.image-container {
  margin-left: 20px;
  text-align: center;
}

.profile-image {
  max-width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.update-profile-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.update-profile-button:hover {
  background-color: #0056b3;
}
.delete-profile-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} 
.attendance-records {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.attendance-records h3 {
  margin-bottom: 10px;
  color: #343a40;
}

.attendance-records table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-records th,
.attendance-records td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: left;
}

.attendance-records th {
  background-color: #e9ecef;
  color: #343a40;
}

.attendance-records tr:nth-child(even) {
  background-color: #f8f9fa;
}

.attendance-records tr:hover {
  background-color: #e9ecef;
}